@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  
}

.container{
  width: 100%;
  min-height: 100vh;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.875rem 0px;
  .card{
    width: 20.3125rem;
    height: 47.8125rem;
    margin: 0px 1.5625rem;
    background-color: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: column;
    border-radius: .625rem;
    .info{
      padding: 1.25rem 1.25rem 1.875rem;
      text-align: center;
      order: 1;
      .title{
        color: hsl(0, 0%, 100%);
        font-family: 'Inter', sans-serif;
        margin-top: .625rem;
        font-size: 1.7rem;
        span{
          color: hsl(277, 64%, 61%);
        }
      }
      .text{
        color: hsla(0, 0%, 100%, 0.75);
        font-size: .9375rem;
        padding: 0px .625rem;
        line-height: 1.5625rem;
      }
      .stats{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 40px;
        .results{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: .3125rem;
          .numbers{
            font-size: 1.4375rem;
            color: hsl(0, 0%, 100%);
            font-weight: 700;
            font-family: 'Inter', sans-serif;
            letter-spacing: 1px;
          }
          .description{
            text-transform: uppercase;
            font-size: .7rem;
            color: hsla(0, 0%, 100%, 0.6);
            letter-spacing: .0625rem;
          }
        }
      }
    }
    .img{
      width: 100%;
      border-top-left-radius: .625rem;
      border-top-right-radius: .625rem;
      background-color: hsl(277, 64%, 61%);
      opacity: .75;
      order: 0;
      img{
        width: 100%;
        height: 100%;
        border-top-left-radius: .625rem;
        border-top-right-radius: .625rem;        
        mix-blend-mode: multiply;
      }
      
    }
  }
}

@media only screen and(min-width: 992px){
  .container{
    padding: 0px;
    .card{
      width: 68.75rem;
      height: 28.125rem;
      flex-direction: row;
      .info{
        width: 40%;
        padding: 3.75rem;
        text-align: left;
        order: 0;
        .title{
          font-size: 2.2rem;
          width: 25rem;
        }
        .text{
          width: 25rem;
          padding: 0px;
        }
        .stats{
          flex-direction: row;
          margin-top: 80px;
          gap: 3.125rem;
          .results{
            align-items: flex-start;
          }
        }
      }
      .img{
        width: 55%;
        border-bottom-right-radius: .625rem;
        border-top-right-radius: .625rem;  
        border-top-left-radius: 0;
        order: 0;
        img{
          border-bottom-right-radius: .625rem;
          border-top-right-radius: .625rem;  
          border-top-left-radius: 0;      
        }
      }
    }
  }
}